server:
  port: ${SERVER_PORT:8085}
spring:
  cloud:
    gateway:
      routes:
        - id: client-service
          uri: ${SPRING_CLOUD_GATEWAY_ROUTES_0_URI:http://client-service:8081}
          predicates:
            - Path=/api/clients/**
          filters:
            - StripPrefix=1
#            - RequestRateLimiter=10, 10, #{@ipKeyResolver}
        - id: account-service
          uri: ${SPRING_CLOUD_GATEWAY_ROUTES_1_URI:http://account-service:8082}
          predicates:
            - Path=/api/accounts/**
          filters:
            - StripPrefix=1
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI:https://capstone-keycloak.duckdns.org/realms/training-realm}
