apiVersion: v1
kind: Service
metadata:
  name: client-service
spec:
  selector:
    app: client-service
  ports:
    - port: {{ .Values.clientService.port }}
      targetPort: {{ .Values.clientService.port }}
  type: ClusterIP
