apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
  labels:
    app: client-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client-service
  template:
    metadata:
      labels:
        app: client-deployment
    spec:
      containers:
        - name: account-service
          image: 060351708029.dkr.ecr.eu-west-1.amazonaws.com/capstone/client-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8081
      imagePullSecrets:
        - name: ecr-secret